{%extends '_base.html' %}

{% block content %}


<div class="col-sm-12 col-xl-6">
    <div class="bg-secondary rounded h-100 p-4">
    
    <table class="w-full whitespace-no-wrap">
        
            <th  class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800" width="60%">Nome</th>
            <th  class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800" width="20%">Idade</th>
            <th  class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800" width="20%">Texto</th>
            <th  class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800" width="60%">To_date</th>
            <th  class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800" width="20%">Sexo</th>
            <th  class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800" width="20%">Escolaridade</th>
            <th> </th>
            <th> </th>
    </thead>
    {% if pessoas %}
    {% for p in pessoas %}
    <thead>
    </thead>
    <tbody   class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
      <thead class="thead-dark">
        <tr  class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800" scope="col">
            <td class="px-4 py-3"> <a href="/pessoas/{{ p.id }}/">{{ p.nome }}</a> </td>
            <td class="px-4 py-3"> <a href="/pessoas/{{ p.id }}/">{{ p.idade }} anos</a> </td>
            <td class="px-4 py-3"> <a href="/pessoas/{{ p.id }}/">{{ p.texto }}</a> </td>
            <td class="px-4 py-3"> <a href="/pessoas/{{ p.id }}/">{{ p.to_date }} </a> </td>
            <td class="px-4 py-3"> <a href="/pessoas/{{ p.id }}/">{{ p.sexo }}</a> </td>
            <td class="px-4 py-3"> <a href="/pessoas/{{ p.id }}/">{{ p.escolaridade }}</a> </td>
            <td>
                <a href="/pessoas/editar/{{ p.id }}">
                    
                    <button type="button" class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-full active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                    aria-label="Edit">
                        Editar <span class="btn-icon-right"> <i class="fa fa-edit"></i> </span>
                    </button>
                </a>
                
            </td>
<br><br>
            <td> <a href="/pessoas/excluir/{{ p.id }}">
                    <button type="button"  class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-full active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                    aria-label="Excluir"> Excluir
                         <span class="btn-icon-right"> <i class="fa fa-close"></i> </span>
                    </button>
        </tr>
        
        {% endfor %}
        {% else %}
        <tr>
            <td>Não há pessoas cadastradas.</td>
        </tr>
        {% endif %}
    </tbody>

</thead>

</div>
</tbody>
<a href="/pessoas/criar">
    <button type="button" class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-full active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
        Add <span class="btn-icon-right"><i class="fa fa-plus"></i></span>
    </button>
</a>
</table>
</div>
</div>


{% endblock %}